@font-face {
    font-family: OfficinaSanITCExtraBold;
    src: url(../fonts/OfficinaSanITCExtraBold.otf);
}
@font-face {
    font-family: OfficinaSansRegular;
    src: url(../fonts/ITCOfficinaSansRegular.otf);
}
@font-face {
    font-family: DINProRegular;
    src: url(../fonts/FP-DINProRegular.otf);
}
*{
	margin: 0px;
	padding: 0px;
	fill:white!important;

}

html{
	    overflow: hidden;
}
body{
	background-color: #000000;
	color: #000000;
}
main{
	background-color: #000!important;
	margin: 0 auto;
	width: 1080px;
	height: 1920px;
	position: relative;
}
.image_container{
    width: 124%;
    height: 85%;
    background-image: url(https://images.unsplash.com/photo-1473244228373-94e7e7fd250f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=2743f0d930daa0390b72ed16b28eb98f);
    background-size: cover;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    filter: blur(5px);
    overflow: hidden;
    left: -5px;
    top: -5px;
 
}
.content_container{
	position: relative;
	overflow: auto;
	background-color: #ffffff;
	width: 90%;
	height: 100%;
	    margin-right: auto;
    margin-left: auto;
}

h1{
    width: 70%;
    position: relative;
    line-height: 0.95em;
    font-size: 100pt;
    font-family: OfficinaSanITCExtraBold;
    top: 20%;
    font-weight: 200;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    border: solid white 25px;
    padding: 90px 65px 90px 65px;
}
h2{
    width: 45%;
    position: absolute;
    font-family: DINProRegular;
    font-size: 18pt;
    left: 69px;
    top: 1700px;

    line-height: 1;
    color:white;
}
 u{
    text-decoration: none;

  }
.line{
	position: absolute;
	left: 69px;
	    top: 665px;
	height: 2px;
	width: 120px;
	background-color: #000000;
	display:none;
}
.icon{
	height: 100px;
	text-align: center;
	position: absolute;
	    bottom: 120px;
	right: 69px;
}
.icon .svg_container{
	width: 100px;
	margin: 0 auto;
	fill:white;
}
svg{
	max-height: 100px;
	max-width: 100px;
	fill:white;
}
.icon .company_name{
	font-family: OfficinaSanITCExtraBold;
	font-size: 30pt;
	color:white!important;
	fill:white;
}
